*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
  }
  
  :root{
    --primary : #ff6733;
    --second : #939598;
    --third : #47494c;
    --fourth : #E8EFE4;
  }
  
  body{
    width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
  }
  
  body::-webkit-scrollbar{
    display: none;
  }
  
  
  .btn{
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 10px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .primary-btn{
    background-color: var(--primary);
    color: var(--fourth);
    transition: .5s;
  }
  
  .primary-btn:hover{
    background-color: var(--fourth);
    color: var(--primary);
  }
  
  .secondary-btn{
    background-color: var(--third);
    color: var(--primary);
    transition: .5s;
  }
  
  .secondary-btn:hover{
    background-color: var(--second);
    color: var(--third);
  }

  .row{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  
  
  .main-outer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  
  .main-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .section-inner{
    width: 80%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section .section-heading h3{
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .section-inner .section-content{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .section-inner .section-content h3{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    text-align: left;
    line-height: 0;
  }
  
  .section-inner .section-content h2{
    width: 100%;
    font-size: 40px;
    padding: 0;
    text-align: left;
    color: var(--primary);
  }
  
  .section-inner .section-content p{
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    text-align: justify;
    padding: 10px 0;
  }
  
  .section-inner .section-content span{
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: var(--second);
    line-height: 0;
    margin-top: 20px;
  }
  
  .section-inner .section-content .director{
    font-size: 26px;
    margin-top: 5px;
    font-weight: 400;
    color: var(--primary);
  }
  
  .section-inner .section-content img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
  }

  .authority-logo{
    width: 300px;
    height: 150px;
    object-fit: contain;
  }
  
  .coming-soon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .coming-soon img{
    width: 400px;
    height: 150px;
    object-fit: contain;
  }

  .coming-soon h2{
    font-size: 80px;
    font-weight: bold;
    margin: 10px 0;
    margin-bottom: 0;
    color: white;
  }

  .coming-soon h3{
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    color: white;
  }

  .coming-soon .coming-soon-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    object-fit: cover;
  }

  .coming-soon .coming-soon-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: black;
    opacity: .8;
  }

  @media only screen and (max-width: 900px) {
    .section-inner{
      width: 90%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .section-inner{
      flex-direction: column-reverse;
    }
  
    .section-inner .section-content{
      padding: 10px;
    }
  
    .section-inner .section-content img{
      width: 100%;
      height: 90%;
    }

    .row{
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
    }
    
  }
  
  
  
  
  /*--------------------- HEADER ------------------------ */
  
  nav{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
  }
  
  nav .header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  nav .flex-header{
    background-color: var(--third);
    animation:fade-in .5s;
    opacity: 1;
  }
  
  @keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
  
  nav .mobile-header{
    display: none;
  }
  
  nav .header .header-inner{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .header .header-inner .header-mobile-menu{
    display: none;
  }
  
  nav .header .header-inner .header-logo{
    width: 20%;
    max-width: 150px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
  }

  nav .flex-header .header-inner .header-logo{
   background-color: transparent;
  }
  
  nav .header .header-inner .header-logo img{
    width: 150px;
    height: 70px;
    object-fit: contain;
  }
  
  nav .header .header-inner .header-menu{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  nav .header .header-inner .header-menu ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding-right: 20px;
  }
  
  nav .header .header-inner .header-menu ul a{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: .5s;
  }

  nav .header .header-inner .header-menu ul .free-quote-btn{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: .5s;
    background-color: var(--primary);
  }
  
  nav .header .header-inner .header-menu ul a:hover{
    color: var(--primary);
  }
  
  nav .flex-header .header-inner .header-menu ul a:hover{
    color: var(--second);
  }
  
  nav .header .header-inner .header-menu ul li{
    width: 100%;
    font-size: 14px;
  }
  
  
  nav .header .header-inner .header-search{
    width: 5%;
    transition: .5s;
  }
  
  nav .header .header-inner .header-search:hover{
    transform: scale(1.05);
  }
  
  nav .header .header-inner .header-search img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 900px) {
    nav .header .header-inner{
        width: 90%;
        justify-content: space-between;
    }
  
    nav .header .header-inner .header-logo{
        width: 90%;
    }
    nav .header .header-inner .header-menu{
        display: none;
    }
  
    nav .header .header-inner .show-header-menu{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        height: 100vh;
        width: 250px;
    }
  
    nav .header .header-inner .show-header-menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
  
    nav .header .header-inner .show-header-menu ul a{
        padding: 10px;
    }
  
    nav .header .header-inner .header-search{
        width: 30px;
        margin: 0 5px;
        z-index: 9999;
    }
  
    nav .header .header-inner .header-mobile-menu{
        display: flex;
        z-index: 9999;
    }

    nav .header .header-inner .header-menu ul .free-quote-btn{
      margin-left: 0;
      background-color: var(--fourth);
      color: var(--primary);
    }
  }
  
  /*--------------------- END HEADER ------------------------ */
  
  
  
  /*--------------- CAROUSEL ----------------- */
  
  
  .carousel{
    width: 100%;
    height: 800px;
    min-height: 800px;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .carousel-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  
  .carousel-inner .carousel-item{
    width: 100%;
    height: 800px;
    transform: translateX(100vw);
    opacity: 0;
    z-index: 0;
    display: none;
    position: absolute;
    z-index: 0;
    
    
  }
  
  .carousel-inner .carousel-active{
    animation: slide-in .5s;
    transform: translateX(0);
    opacity: 1;
    transition: .5s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .carousel-inner .carousel-hide{
    animation: slide-out 3s;
    transform: translateX(100vw);
    opacity: 0;
    transition: .5s;
    border: 1px solid green;
    display: none;
  }
  
  
  .carousel-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(82, 103, 73), rgb(164, 168, 162));
    mix-blend-mode: multiply;
  }
  
  @keyframes slide-in {
    0%{
      transform: translateX(100vw);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-out {
    0%{
      transform: translateX(0);
      opacity: 1;
    }
    100%{
      transform: translateX(100vw);
      opacity: 0;
    }
  }
  
  
  .carousel-inner .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-contents{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 999999;
  }
  
  .content-right{
    align-items: flex-end;
  }
  
  .carousel-contents h3{
    font-size: 80px;
    line-height: 76px;
    color: var(--fourth);
  }
  
  .carousel-contents p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    color: var(--fourth);
  }
  
  .carousel-contents .carousel-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
  
  
  @media only screen and (max-width: 768px){
  
    .carousel{
      height: 700px;
      min-height: 700px;
    
    }
  
    .carousel-contents{
      width: 90%;
      align-items: center;
    }
    
  
    .carousel-contents h3{
      font-size: 50px;
      line-height: 46px;
      text-align: center;
    }
    
    .carousel-contents p{
      font-size: 16px;
    }
    
  }
  
  @media only screen and (max-width: 400px){
  
    .carousel-contents h3{
      font-size: 30px;
      line-height: 26px;
    }
    
    .carousel-contents p{
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }
  
    
  }
  
  /*--------------- END CAROUSEL ----------------- */
  
  
  /*--------------- TIMELINE ----------------- */
  
  .timeline{
    width: 100%;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .timeline-inner{
    position: absolute;
    width: 50%;
    height: 150px;
    right: 100px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 4;
  
  }
  
  .timeline-inner .timeline-item{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--primary);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    line-height: 20px;
    padding: 20px 40px;
    font-size: 16px;
  }

  .timeline-inner .timeline-item:nth-child(2)
  {
    background-color: var(--fourth);
    color: var(--third);

  }

  .timeline-inner .timeline-item:nth-child(1)
  {
    color: var(--fourth);
    text-align: left;
  }
  
  
  @media only screen and (max-width: 768px){

    .timeline .timeline-inner{
      width: 90%;
      right: 5%;
    }
  
    .timeline-inner .timeline-item{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-right: none;
      padding: 20px;
      margin-bottom: -75px;
    }
  
    .timeline-inner .timeline-item h3{
      font-size: 50px;
      line-height: 40px;
      color: var(--primary);
  
    }
  
    .timeline-inner .timeline-item p{
      font-size: 14px;
      line-height: 11px;
    }
  
  }
  
  @media only screen and (max-width: 430px){
    .timeline-inner{
      width: 100%;
      border-radius: 0;
    }
  
    .timeline-inner .timeline-item h3{
      font-size: 40px;
      line-height: 30px;
  
    }
  }
  
  
  /*--------------- END TIMELINE ----------------- */
  
  
  
  /*--------------- APPROVAL SECTION ----------------- */
  
  .approval-section{
    width: 100%;
    height: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding-bottom: 30px;
  }
  
  .approval-section-inner{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .approval-section-inner h3{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 10px;
  }
  
  .approval-section-inner img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 10px;
  }
  
  @media only screen and (max-width: 768px){
    .approval-section{
      height: 300px;
      min-height: 300px;
    }
  
    .approval-section-inner h3{
      font-size: 14px;
    }
    .approval-section-inner img{
      width: 60px;
      height: 60px;
    }
  }
  /*--------------- END APPROVAL SECTION ----------------- */
  
  /*--------------- END BANNER SECTION ----------------- */
  
  .banner-section{
    width: 100%;
    height: 600px;
    min-height: 600px;
    background-position: 10% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #aboutUs{
    background-image: linear-gradient(rgba(123, 123, 123, 0.97), rgba(181, 181, 181, 0.96)), url('../asset/img/home/onesource-fitout-about-us-bg.png');
  }
  
  .banner-section-inner{
    width: 80%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .banner-section-inner .banner-section-left
  {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .banner-section-inner .banner-section-left h3{
    text-align: left;
    line-height: 40px;
  }

  .banner-section-inner .banner-section-left p{
    text-align: left;
  }

  .banner-section-inner .banner-section-right
  {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .banner-section-inner .banner-section-right-left{
    align-items: flex-start;
  }

  .banner-section-inner .banner-section-padding{
    padding: 20px;
  }

  .banner-section-inner .banner-inside-image{
    width: 80%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    object-position: bottom;
  }
  
  
  .banner-section-inner h3{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 70px;
    color: var(--fourth);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .banner-section-inner h4{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    color: var(--third);
    text-align: center;
    margin-bottom: 10px;
  }
  
  
  .banner-section-inner p{
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: left;
  }
  
  @media only screen and (max-width: 768px){

    .banner-section{
      height: 100%;
      min-height: 100%;
      padding: 50px 0;
    }

    .banner-section-inner{
      flex-direction: column !important;
    }
  
    .banner-section-inner h3{
      font-size: 40px;
      line-height: 30px;
  
    }
    
    .banner-section-inner p{
      font-size: 12px;
    }

    .banner-section-inner .banner-section-left
  {
    width: 100%;
  }

  .banner-section-inner .banner-section-right
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .banner-section-inner .banner-inside-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 20px;
    object-position: bottom;
  }
  
  }
  
  
  /*--------------- END BANNER SECTION ----------------- */
  
  /*--------------- PACKAGES ----------------- */
  
  
  .packages{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--third);
    padding: 100px 0;
  }

  .packages-bg{
    background-color: var(--second);
  }
  
  .packages-inner{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .packages-inner .packages-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .packages-inner .packages-heading h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--fourth);
    text-align: center;
    
  }
  
  .packages-inner .packages-heading p{
    font-size: 14px;
    line-height: 14px;
    color: var(--primary);
    text-align: center;
  }
  
  .packages-inner .packages-grid{
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
  
  .packages-inner .packages-grid .packages-item{
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 15px;
    transition: 1s;
  }

  .packages-inner .packages-grid .packages-item::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 2;
    opacity: .4;
  }

  .packages-inner .packages-grid .project{
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    height: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 15px;
    transition: 1s;
  }

  .packages-inner .packages-grid .project{
    height: 350px;
  }

  .packages-inner .packages-grid .packages-item:hover{
    transform: rotate3d(0, 1, 0, 180deg);
  }
  
  .packages-inner .packages-grid .packages-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    z-index: 2; 
  }

  .packages-inner .packages-grid .project img{
    width: 100%;
    height: 300px;
    min-height: 300px;
    object-fit: cover;
    transition: .5s;
  }

  .packages-inner .packages-grid .project img:hover{
    transform: rotate3d(0, 1, 0, 180deg);
  }

  .packages-inner .packages-grid .packages-item .packages-desc{
    width: 450px;
    height: 50px;
    position: absolute;
    left: 50px;
    bottom: 200px;
    padding: 10px;
    transform: rotate(270deg);
    z-index: 9;
  }

  .packages-inner .packages-grid .project .project-desc{
    height: 200px;
    margin-top: 10px;
  }

  .packages-inner .packages-grid .project-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(100vh);
  }

  .packages-inner .packages-grid .project-content-show{
    animation: slide-in .5s;
    transform: translateY(0);
  }

  .packages-inner .packages-grid .project-content h3{
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
  }

  .packages-inner .packages-grid .project-content .project-close{
    position: absolute;
    right: 30px;
    top:30px;
    margin: 0;
    width: 40px;
    height: 40px;
  }

  .packages-inner .packages-grid .project-content .project-close img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: none;
  }

  .packages-inner .packages-grid .project-content .project-images{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    overflow: hidden !important;
    overflow-y: scroll !important;
  }

  .packages-inner .packages-grid .project-content .project-images img{
    width: 22vw;
    height: 22vw;
    margin: 0;
    margin-right: 10px;
    object-fit: contain;
  }

  .packages-inner .packages-grid .project .project-desc h3{
    font-size: 16px;
    color: white;
  }

  .packages-inner .packages-grid .project .project-desc p{
    font-size: 12px;
    color: rgb(206, 204, 204);
    line-height: 20px;
    margin-top: 10px;
    
  }
  
  .packages-inner .packages-grid .packages-item .packages-desc h3{
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
    color: var(--fourth);
    text-shadow: 2px 2px 8px black;
  }
  
  .packages-inner .packages-grid .packages-item .packages-content-full{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 99999;
    padding: 10px;
    background-color: var(--third);
    color: white;
    border: 1px solid var(--primary);
    display: none;
    
  }

  .packages-inner .packages-grid .packages-item .packages-content-full h3{
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
    color: var(--fourth);
    margin-bottom: 10px;
  }

  .packages-inner .packages-grid .packages-item .packages-content-full p{
    font-size: 12px;
    opacity: .7;
    line-height: 20px;
  }

  .packages-inner .packages-grid .packages-item .content-show{
    display: flex;
    animation: content-rotate .5s;
    transform: rotate3d(0, 1, 0, 180deg);
  }

  @keyframes content-rotate {
    0%{
      transform: rotate3d(0, 1, 0, 0);
      opacity : 0;
    }
    100%{
      transform: rotate3d(0, 1, 0, 180deg);
      opacity: 1;
    }
    
  }
  
  @media only screen and (max-width: 1024px){
    .packages-inner .packages-grid{
      width: 100%;
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media only screen and (max-width: 768px){
  
    .packages-inner .packages-grid{
      width: 100%;
      padding: 20px 0;
      display: grid;
      grid-template-columns: auto;
    }

    .packages-inner .packages-grid .packages-item{
      width: 100%;
      min-width: 100% !important;
    }
    .packages-inner .packages-grid .project-content .project-images{
      grid-template-columns: auto ;
    }
  
    .packages-inner .packages-grid .project-content .project-images img{
      width: 90vw;
      height: 300px;
      margin: 10px;
      object-fit: contain;
    }
  }
  
  
  
  /*--------------- END PACKAGES ----------------- */
  
  
  .newsletter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .newsletter input{
    width: 300px;
    padding: 10px;
    border: none;
    border: 1px solid var(--third);
    border-radius: 10px;
  }
  
  .newsletter button{
    border: none;
    padding: 10px;
    background-color: var(--third);
    color: var(--primary);
    width: 150px;
    margin-left: -75px;
    border: 1px solid var(--third);
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
  }
  
  .newsletter button:hover{
    background-color: var(--second);
  }
  
  /*--------------- FOOTER ----------------- */
  
  .footer{
    width: 100%;
    padding: 50px 0;
    padding-bottom: 100px;
    background-image: linear-gradient(rgb(28, 28, 28,.9), rgb(28, 28, 28,.9)), url('https://www.unite.ai/wp-content/uploads/2023/07/Alex_Mc_interior_design._modern._47404ec8-1cd9-4b15-ba7f-b22669c45f46.jpg');
    background-position: 20% 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-inner{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  
  .footer-inner .footer-logo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .footer-inner .footer-logo img{
    width: 200px;
    height: 150px;
    object-fit: contain;
  }
  
  .footer-inner .footer-logo p{
    width: 80%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 200;
    color: var(--fourth);
    padding: 20px 0;
  }
  .footer-inner .footer-section .social-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;  
  }
  
  .footer-inner .footer-section .social-icons img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 5px;
    border-radius: 0;
    background-color: transparent;
    transition: .5s;
  }
  
  .footer-inner .footer-section .social-icons img:hover{
    transform: scale(1.05);
  }
  
  .footer-inner .footer-section{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .footer-inner .footer-section:nth-child(4)
  {
    width: 30%;
  }
  
  .footer-inner .footer-section h3{
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .footer-inner .footer-section ul{
    list-style: none;
  }
  
  
  .footer-inner .footer-section ul a{
    text-decoration: none;
  }
  
  .footer-inner .footer-section ul a li{
    padding: 5px 0;
    color: var(--second);
  }

  .footer-inner .footer-section .newsletter{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;  
  }

  .footer-inner .footer-section .newsletter span{
    color: var(--fourth);
    font-size: 14px;
    padding: 10px;
  }

  .footer-inner .footer-section .newsletter .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-inner .footer-section .newsletter .row input{
    width: 100% ;
  }

  
  .copyright{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
  }
  
  .copyright-inner{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  
  }
  
  .copyright-inner span{
    font-size: 12px;
    line-height: 14px;
    font-weight: 200;
    color: var(--fourth);
    text-align: center;
  }
  
  .copyright-inner span a{
    text-decoration: none;
    font-weight: 400;
    color: var(--fourth);
  }
  
  @media only screen and (max-width: 768px){
    .footer-inner{
      width: 80%;
      flex-direction: column;
    }
  
    .footer-inner .footer-logo, .footer-inner .footer-section{
      width: 100%;
      margin-bottom: 30px;
    }
  
    .footer-inner .footer-logo p{
      width: 100%;
    }
  
    .copyright-inner span{
      font-size: 10px;
    }
    .footer-inner .footer-section .newsletter
    {
      width: 80vw;
    }
    .footer-inner .footer-section .newsletter .row{
      width: 100%;
      min-width: 80vw;
      display: flex;
      flex-direction: row !important;
      align-items: center;
      justify-content: center;
    }
  
    .footer-inner .footer-section .newsletter .row input{
      width: 100% ;
    }
  
  }
  
  
  /*--------------- END FOOTER ----------------- */
  
  
  
  /*--------------- CONTACT FORM ----------------- */
  
  
  .contact-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .contact-form-inner{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
  }
  
  .contact-form-inner p{
    width: 100%;
    text-align: left;
    font-size: 14px;
    margin-bottom: 30px;
  }
  
  .arabic .contact-form-inner p{
    text-align: right !important; 
  }
  
  .contact-form-inner .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  
  .contact-form-inner .column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
  }
  
  .contact-form-inner .caption{
    font-size: 14px;
    color: #c4c4c4;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .contact-form-inner input,.contact-form-inner textarea{
    width: 100%;
    border: none;
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: 10px;
  }
  
  .arabic .contact-form-inner input,.arabic .contact-form-inner textarea{
    text-align: right;
  }
  
  .contact-form-inner iframe{
    width: 90%;
    height: 350px !important;
    border-radius: 10px;
  }
  
  .align-start{
    align-items: flex-start !important;
  }
  
  .arabic .align-start{
    align-items: flex-end !important;
  }
  
  .align-end{
    align-items: flex-end !important;
  }
  
  .justify-start{
    justify-content: flex-start !important;
    
  }
  
  .arabic .justify-start{
    justify-content: flex-end !important;
  }
  
  
  .justify-end{
    justify-content: flex-end !important;
  }
  
  @media only screen and (max-width: 768px){
    .contact-form-inner .row{
      flex-direction: column;
    }
  
    .contact-form-inner iframe{
      width: 100%;
      margin-top: 10px;
    }
  
    .arabic .contact-content{
      flex-direction: column-reverse;
    }
    
    
  }
  
  
  /*--------------- END CONTACT FORM ----------------- */
  
  
  /*--------------- PRE-LOADER ----------------- */
  
  .pre-loader-outer{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 27, 0, 0.99);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999;
  }
  
  .hidePreloader{
    opacity: 0;
  }
  
  .pre-loader-inner{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    animation: scale-in 1s infinite ease-in-out;
    transform: scale(1);
  }
  
  @keyframes scale-in {
    0%{
      transform: scale(0) rotate(40deg);
    }
  
    100%{
      transform: scale(1) rotate(0);
    }
    
  }
  
  .pre-loader-inner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  
  }
  /*--------------- END PRE-LOADER ----------------- */
  
  /*--------------- PACKAGE PAGE ----------------- */
  
  .package-image{
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
    margin-bottom: 30px !important;
    border-radius: 0 20px 0 20px !important;
  }
  
  .package-page h3{
    font-size: 30px !important;
    color: var(--primary);
    margin: 10px 0;
    font-weight: 500;
    line-height: 40px !important;
  }
  
  .package-page p{
    font-size:14px !important;
    color: var(--primary);
    line-height: 25px !important;
  }
  
  .package-page ul{
    font-size: 14px !important;
    padding-left: 20px;
    color: var(--primary);
  }
  
  
  
  /*--------------- END PACKAGE PAGE ----------------- */



  .breadcrump{
    width: 100%;
    height: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
  }

  .breadcrump img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .breadcrump .overlay{
    width: 100%;
    height: 300px;
    background-color: black;
    opacity: .8;
    position: absolute;
    z-index: 0;
  }

  .breadcrump h3{
    font-size: 30px;
    font-weight: bold;
    color: white;
    z-index: 2;
  }


  .contact-form-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,255,255,.9)), url("../asset/img/home/services/Pergola metal & wood.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .contact-form-section .contact-form-section-inner{
    width: 80%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-form-section .contact-form-section-inner h3{
     font-size: 40px;
     text-transform: uppercase;
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-form, .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-address{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-address{
    align-items: center;
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-address .content-address-data{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-address span{
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #909090;
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-address span img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
    
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-address iframe{
    width: 100%;
    height: 250px;
    margin-top: 10px;
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-form .form-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3px;
  }


  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-form .form-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-form .form-column input, .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-form .form-column textarea{
    width: 100%;
    padding: 10px;
    border: none;
    border: 1px solid var(--second);
    border-radius: 5px;
    margin: 5px 0;
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-form .form-column .caption{
    font-size: 14px;
    color: var(--second);
    opacity: .8;
  }

  .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-form button{
    padding: 10px 40px;
    border: none;
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 10px 0;
  }






  .popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #090909b4;
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(100vh);
  }

  .show-popup{
    animation: slide-in .5s;
    transform: translateY(0);
  }

  @keyframes slide-in {
    0%{
      transform: translateY(100vh);
    }
    100%{
      transform: translateY(0);
    }
  }
  .popup .popup-inner{
    width: 50%;
    padding: 40px 0;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--third);
  }

  .popup .popup-inner h3{
    width: 80%;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
  }

  .popup .popup-inner .popup-close-btn{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .popup .popup-inner .popup-close-btn img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }

  .popup .popup-inner .column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0;
  }

  .popup .popup-inner .column .caption{
    font-size: 14px;
    color: var(--second);
  }

  .popup .popup-inner .popup-content{
    width: 80%;
  }
  .popup .popup-inner .column input, .popup .popup-inner .column textarea{
    margin-top: 5px;
    padding: 10px;
    width: 100%;

  }

  .popup .popup-inner .column button{
    padding: 10px 40px;
    border: none;
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 10px 0;
  }

  @media only screen and (max-width: 768px){

    .contact-form-section .contact-form-section-inner .contact-form-section-content{
      width: 100%;
      padding: 30px 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;
    }
    .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-form, .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-address{
      width: 100%;
      
    }
    .contact-form-section .contact-form-section-inner .contact-form-section-content .contact-address .content-address-data{
      width: 100%;
    }

    .popup .popup-inner{
      width: 50%;
      padding: 40px 0;
      min-width: 80vw;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--third);
    }
  
  }
